<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/errors.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>

    <div class="container3">
        <div class="div7">
             <pre class="Status">{{.Status}}</pre>
        </div>
        <div class="div8">
            <pre class="Error">{{.ErrorMessage}}</pre>
        </div>
    </div>
</body>
</html>